[submodule "scripts"]
	path = scripts
	url = git@github.com:cpp-toolbox/scripts.git
[submodule "src/utility/limited_vector"]
	path = src/utility/limited_vector
	url = git@github.com:cpp-toolbox/limited_vector.git
[submodule "src/utility/fixed_size_array_tracker"]
	path = src/utility/fixed_size_array_tracker
	url = git@github.com:cpp-toolbox/fixed_size_array_tracker.git
[submodule "src/utility/print_utils"]
	path = src/utility/print_utils
	url = git@github.com:cpp-toolbox/print_utils.git
[submodule "src/input/mouse"]
	path = src/input/mouse
	url = git@github.com:cpp-toolbox/mouse.git
[submodule "src/utility/math_utils"]
	path = src/utility/math_utils
	url = git@github.com:cpp-toolbox/math_utils.git
[submodule "src/utility/transform"]
	path = src/utility/transform
	url = git@github.com:cpp-toolbox/transform.git
